In [49]:
import pandas as pd
d1={'first_name':['anu','mehak','reena','rohit','ankush','kush'],'id':[11,13,14,16,17,22]}
d2={'id':[20,22,25],'first_name':['guntash','jasleen','sehaj']}

d3={'id':[21,26,27],'first_name':['aman','gaman','sehajpreet'],'roll-no':[101,102,103]}

In [50]:
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
df3=pd.DataFrame(d3)
print(df1)

print("\n")
print(df2)
print("\n")
print(df3)

  first_name  id
0        anu  11
1      mehak  13
2      reena  14
3      rohit  16
4     ankush  17
5       kush  22


  first_name  id
0    guntash  20
1    jasleen  22
2      sehaj  25


   first_name  id  roll-no
0        aman  21      101
1       gaman  26      102
2  sehajpreet  27      103

# CONCATENATION

In [51]:
a1=pd.concat([df1,df2]) #concat via row vise,'a' is new data frame 
print(a1)

  first_name  id
0        anu  11
1      mehak  13
2      reena  14
3      rohit  16
4     ankush  17
5       kush  22
0    guntash  20
1    jasleen  22
2      sehaj  25

In [52]:
a1=pd.concat([df1,df3,df2])
print(a1)

   first_name  id  roll-no
0         anu  11      NaN
1       mehak  13      NaN
2       reena  14      NaN
3       rohit  16      NaN
4      ankush  17      NaN
5        kush  22      NaN
0        aman  21    101.0
1       gaman  26    102.0
2  sehajpreet  27    103.0
0     guntash  20      NaN
1     jasleen  22      NaN
2       sehaj  25      NaN

In [53]:
a1.index=range(1,13)
print(a1)

    first_name  id  roll-no
1          anu  11      NaN
2        mehak  13      NaN
3        reena  14      NaN
4        rohit  16      NaN
5       ankush  17      NaN
6         kush  22      NaN
7         aman  21    101.0
8        gaman  26    102.0
9   sehajpreet  27    103.0
10     guntash  20      NaN
11     jasleen  22      NaN
12       sehaj  25      NaN

In [54]:
a2=pd.concat([df1,df3,df2],axis=1)
print(a2)

  first_name  id  first_name    id  roll-no first_name    id
0        anu  11        aman  21.0    101.0    guntash  20.0
1      mehak  13       gaman  26.0    102.0    jasleen  22.0
2      reena  14  sehajpreet  27.0    103.0      sehaj  25.0
3      rohit  16         NaN   NaN      NaN        NaN   NaN
4     ankush  17         NaN   NaN      NaN        NaN   NaN
5       kush  22         NaN   NaN      NaN        NaN   NaN

In [55]:
#a2.columns=[ 'id' ,'first_name'  ,'id' , 'first_name' ,   'roll-no' ,'id' ,'first_name']
#print(a2)

# merging

In [58]:
inner_merged_dataframe = pd.merge(df1, df2, on= "id", how= "inner")
print(inner_merged_dataframe)

  first_name_x  id first_name_y
0         kush  22      jasleen

In [59]:
OUTER_merged_dataframe = pd.merge(df1, df2, on= "id", how= "outer")
print(OUTER_merged_dataframe)

  first_name_x  id first_name_y
0          anu  11          NaN
1        mehak  13          NaN
2        reena  14          NaN
3        rohit  16          NaN
4       ankush  17          NaN
5         kush  22      jasleen
6          NaN  20      guntash
7          NaN  25        sehaj

In [56]:
LEFT_merged_dataframe = pd.merge(df1, df2, on= "id", how= "left")
print(LEFT_merged_dataframe)

  first_name_x  id first_name_y
0          anu  11          NaN
1        mehak  13          NaN
2        reena  14          NaN
3        rohit  16          NaN
4       ankush  17          NaN
5         kush  22      jasleen

In [57]:
RIGHT_merged_dataframe = pd.merge(df1, df2, on= "id", how= "right")
print(RIGHT_merged_dataframe)

  first_name_x  id first_name_y
0         kush  22      jasleen
1          NaN  20      guntash
2          NaN  25        sehaj